<form #agregarProfesorForm="ngForm">
    <h1>
      Agregar actualizar profesor
    </h1>
    <div class="alert alert-danger alert-dismissible fade show" *ngIf="mensajeError" id="mensaje-error">
      <strong>Error! </strong>{{mensajeError}}
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
    <div class="alert alert-primary alert-dismissible fade show" *ngIf="mensajeExito" id="mensaje-exito">
      <strong>Éxito! </strong>{{mensajeExito}}
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>

	<div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="nombre"><span class="hidden">Nombre</span></label>
          <input name="nombre" id="nombre" type="text" placeholder="Nombre" ngModel required 
          class="form-control" value="{{respuestaService.nombre}}">
        </div>
      </div>
	  <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="apellido"><span class="hidden">Apellido</span></label>
          <input name="apellido" id="apellido" type="text" placeholder="Apellido" ngModel required 
          class="form-control" value="{{respuestaService.apellido}}">
        </div>
      </div>
    </div>
	
	<div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="cedula"><span class="hidden">Cedula</span></label>
          <input name="cedula" id="cedula" type="text" placeholder="Cedula" ngModel required 
          class="form-control" value="{{respuestaService.cedula}}">
        </div>
      </div>
	  <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="edad"><span class="hidden">Edad</span></label>
          <input name="edad" id="edad" type="number" placeholder="Edad" ngModel required 
          class="form-control" value="{{respuestaService.edad}}">
        </div>
      </div>
    </div>	
	
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="direccion"><span class="hidden">Dirección</span></label>
          <input name="direccion" id="direccion" type="text" placeholder="Dirección" ngModel required 
          class="form-control" value="{{respuestaService.direccion}}">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-group">
          <label for="id"><span class="hidden">ID</span></label>
          <input name="id" id="id" type="text" ngModel class="form-control" readonly="true"
          value="{{respuestaService.id}}">
        </div>
      </div>      
    </div>

    <div class="row">   
	  <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="form-input">
          <button class="btn btn-primary" (click)="agregarProfesor(agregarProfesorForm)" id="consultar-valor-btn">Guardar</button>
        </div>
      </div>
    </div>
  
</form>

