<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="/">English Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/asignar-cita" routerLinkActive="active" id="asignar-cita-nav">Asignar Cita</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/listar-citas" routerLinkActive="active" id="listar-citas-nav">Listar Citas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/agregar-cliente" routerLinkActive="active" id="agregar-cliente-nav">Agregar Cliente</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-clientes" routerLinkActive="active" id="listar-clientes-nav">Listar Clientes</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/agregar-profesor" routerLinkActive="active" id="agregar-profesor-nav">Agregar Profesor</a>
          </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/listar-profesores" routerLinkActive="active" id="listar-profesores-nav">Listar Profesores</a>
        </li>        
      </ul>
    </div>
  </nav>
